body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: #434455;
    background-color: #FFFFFF; 
}
.visually-hidden {

    margin: -1px;
    border: 0;

    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul,
ol{
    list-style-type: none;
    
    margin: 0;
}
img{
    
    max-width: 100%;

}
h1, h2, h3, p{
    margin: 0;

}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.part-logo{
    color:  #2e2f42;
}
.nav-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.link-hover:hover,
.link-hover:focus
{
    color: #404bbf;
}
.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}
.address-link:focus,
.address-link:hover{
    color: #404bbf
}
.title-background-effective-solutions{
    background: #2e2f42;
}
.title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

}
.button-order-service{
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    font-weight: 500;
    cursor: pointer;
}
.button-order-service:hover,
.button-order-service:focus{
    background-color: #404BBF;
}
.subtitle-features{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-features{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.subtitle-team-portfolio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.background-team{
    background-color: #F4F4FD;
}
.team{
    text-align: center;
    background-color: #FFFFFF;
}
.text-footer{
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #2e2f42;
}
.subtitle-potfolio{
    text-transform: capitalize;
}
.footer-background{
    background-color: #2e2f42;
}
.part-logo-footer{
    color: #f4f4fd;
}